.highColorYellow {
    background-color: rgba(255, 255, 0, 0.4); /* Yellow with 40% opacity */
  }
  
  .highColorGreen {
    background-color: rgba(0, 255, 0, 0.4); /* Green with 40% opacity */
  }
  
  .highColorCyan {
    background-color: rgba(0, 255, 255, 0.4); /* Cyan with 40% opacity */
  }
  
  .highColorMagenta {
    background-color: rgba(255, 0, 255, 0.4); /* Magenta with 40% opacity */
  }
  
  .highColorOrange {
    background-color: rgba(255, 165, 0, 0.4); /* Orange with 40% opacity */
  }
  
  .highColorPink {
    background-color: rgba(255, 192, 203, 0.4); /* Pink with 40% opacity */
  }
  
  .highColorLightBlue {
    background-color: rgba(173, 216, 230, 0.4); /* Light Blue with 40% opacity */
  }
  
  .highColorLavender {
    background-color: rgba(230, 230, 250, 0.4); /* Lavender with 40% opacity */
  }
  
  .highColorPeach {
    background-color: rgba(255, 218, 185, 0.4); /* Peach with 40% opacity */
  }
  
  .highColorMint {
    background-color: rgba(189, 252, 201, 0.4); /* Mint with 40% opacity */
  }