.typer {
    padding: 11px;
    border-radius: 8px;
	font-size: 12px;
    color: white;
	display: flex;
	align-items: flex-start;
	min-height: 20px;
	background: rgba(0, 0, 0, 0.3);
    max-height: 240px;
    overflow-y: auto;
}
